@model List<Yetkiler>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">YETKİ EKLE</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="yetkiEkleForm" action="~/AdminPanel/AdminYetkiler/AdminYetkiKaydetIndex" method="post">
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="YetkiAdi">Yetki Adı</label>
                                <input name="YetkiAdi" asp-for="YetkiAdi" type="text" class="form-control" placeholder="Yetki Adı">
                                <span asp-validation-for="YetkiAdi" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="card card-info card-outline">
                            <div class="card-header">
                                <h5 class="card-title">Görülebilir Alanlar</h5>
                            </div>
                            <div class="card-body">
                                @foreach (var item in ViewBag.erisimAlani)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox(@item.Id)" name="secilenSayfalar" value="@item.Id">
                                        <label for="customCheckbox(@item.Id)" class="custom-control-label">@item.ControllerAdi /@item.ViewAdi</label>
                                    </div>
                                }

                            </div>
                        </div>


                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">YETKİ EKLE</button>
                        </div>
                        <div>
                            @Html.Raw(ViewBag.mesaj)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

