@model Tuple<List<Yetkiler>,KullanicilarVeYetkilerDTO>

<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="~/AdminPanel/AdminKullanicilar/AdminKullanicilarIndex">Kullanıcı Listesi</a></li>
					<li class="breadcrumb-item active">Kullanıcı Güncelle</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-12">
				<!-- jquery validation -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">KULLANICI GÜNCELLE</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form asp-action="AdminKullaniciGuncelleIndex" id="kullaniciGuncelleIndex" asp-controller="AdminKullanicilar" method="post">

						<div class="card-body">

							<div class="form-group">
								<label asp-for="Adi">Kullanıcı Adı</label>
								<input name="Adi" asp-formaction="Adi" type="text" value="@Model.Item2.Adi" class="form-control" >
								<span asp-validation-for="Adi" class="text-danger"></span>
							</div>


							<div class="form-group">
								<label asp-for="Soyadi">Kullanıcı Soyadı</label>
								<input name="Soyadi" asp-formaction="Soyadi" type="text" value="@Model.Item2.Soyadi" class="form-control" >
								<span asp-validation-for="Soyadi" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="KullaniciEmail">Kullanıcı Email</label>
								<input name="KullaniciEmail" asp-formaction="KullaniciEmail" value="@Model.Item2.KullaniciEmail" type="text" class="form-control">
								<span asp-validation-for="KullaniciEmail" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label asp-for="YetkiId">Yetki Adı Seçiniz</label>
								<select name="YetkiId" asp-for="YetkiId" class="form-control">
									<option selected value="@Model.Item2.Yetkiler.Id">@Model.Item2.Yetkiler.YetkiAdi</option>
									@foreach (var item in Model.Item1)
									{
										<option value="@item.Id">@item.YetkiAdi</option>
									}
								</select>
								<span asp-validation-for="YetkiId" class="text-danger"></span>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.Item2.PersonelMi, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									<div class="checkbox">
										<input type="checkbox" id="PersonelMiCheckBox" @(Model.Item2.PersonelMi ? "checked='checked'" : "") />
										<input type="hidden" name="PersonelMi" id="PersonelMiHidden" />
										@Html.ValidationMessageFor(model => model.Item2.PersonelMi, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.Item2.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									<div class="checkbox">
										@Html.EditorFor(model => model.Item2.AktifMi)
										@Html.ValidationMessageFor(model => model.Item2.AktifMi, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>

						</div>

						<div class="card-footer">
							<input type="submit" class="btn btn-warning" value="Kullanıcı Güncelle">
						</div>
						<div>
							@Html.Raw(TempData["mesaj"])
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section addBottomLibrary {
	<script>
		$(function () {
			$('#kullaniciGuncelleIndex').validate({
				rules: {
					Adi: {
						required: true
					},
					Soyadi: {
						required: true
					},
					Email: {
						required: true,
						email: true
					},
					PersonelMi: {
						required: false
					},

					AktifMi: {
						required: false
					},

					YetkiId: {
						required: true,
						number: true
					}
				},
				messages: {
					Adi: {
						required: "Kullanıcı adı alanı zorunludur."
					},
					Soyadi: {
						required: "Kullanıcı soyadı alanı zorunludur."
					},
					Email: {
						required: "Email alanı zorunludur.",
						email: "Geçerli bir email adresi giriniz."
					},
					PersonelMi: {
					},
					AktifMi: {
					},
					YetkiId: {
						required: "Yetki seçimi zorunludur.",
						number: "Geçerli bir yetki ID'si giriniz."
					}
				},
				errorElement: 'span',
				errorPlacement: function (error, element) {
					error.addClass('invalid-feedback');
					element.closest('.form-group').append(error);
				},
				highlight: function (element, errorClass, validClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight: function (element, errorClass, validClass) {
					$(element).removeClass('is-invalid');
				}
			});
		});

		$(function () {
			$("#PersonelMiCheckBox").change(function () {
				var isChecked = $(this).is(":checked");
				$("#PersonelMiHidden").val(isChecked);
			});
		});
	</script>

}
