@model FotograflarVeUrunlerDTO

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminFotograflar/AdminFotograflarIndex">Fotograf Listesi</a></li>
                    <li class="breadcrumb-item active">Fotograf Güncelle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">FOTOGRAF GÜNCELLE</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="AdminFotografGuncelleIndex" id="fotografGuncelleIndex" asp-controller="AdminFotograflar" method="post">
                            <input type="hidden" value="@Model.UrunId" name="UrunId" asp-for="UrunId" />

                            <div class="form-group">
                                <label asp-for="fotografAciklamasi">Fotoğraf Açıklaması</label>
                                <input name="FotografAciklamasi" asp-for="FotografAciklamasi" type="text" class="form-control" value="@Model.FotografAciklamasi" placeholder="Fotoğraf Açıklaması">
                                <span asp-validation-for="fotografAciklamasi" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FotografYolu">Fotoğraf Yolu</label>
                                <input name="FotografYolu" asp-for="FotografYolu" type="text" class="form-control" id="dosyaYolu" value="@Model.FotografYolu" placeholder="Fotoğraf Yolu">
                                <span asp-validation-for="FotografYolu" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FotografSirasi">Fotoğraf Sırası</label>
                                <input name="FotografSirasi" asp-for="FotografSirasi" type="text" class="form-control" value="@Model.FotografSirasi" placeholder="Fotoğraf Sırası">
                                <span asp-validation-for="FotografSirasi" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.AktifMi)
                                        @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <input type="submit" class="btn btn-success" value="Fotograf Güncelle" />
                            </div>
                        </form>
                        @if (ViewBag.mesaj != null)
                        {
                            <div class="col-md-12 alert alert-danger">
                                @ViewBag.mesaj
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary {

}
