
@model Musteriler

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminMusteriler/AdminMusterilerIndex">Müşteri Listesi</a></li>
                    <li class="breadcrumb-item active">Müşteri Güncelle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">MÜŞTERİ GÜNCELLE</h3>
                    </div>
                    <form asp-action="AdminMusteriGuncelleIndex" id="musteriGuncelleIndex" asp-controller="AdminMusteriler" method="post">
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="Adi">Adı</label>
                                <input name="Adi" asp-for="Adi" type="text" value="@Model.Adi" class="form-control" placeholder="Müşteri Adı">
                                <span asp-validation-for="Adi" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Soyadi">Soyadı</label>
                                <input name="Soyadi" asp-for="Soyadi" value="@Model.Soyadi" type="text" class="form-control" placeholder="Soyadı">
                                <span asp-validation-for="Soyadi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cinsiyet">Cinsiyet</label>
                                <input name="Cinsiyet" asp-for="Cinsiyet" type="text" value="@Model.Cinsiyet" class="form-control" placeholder="Cinsiyet">
                                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Telefonu">Telefon</label>
                                <input name="Telefonu" asp-for="Telefonu" type="number" value="@Model.Telefonu" class="form-control" placeholder="Telefonu">
                                <span asp-validation-for="Telefonu" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Meslek">Meslek</label>
                                <input name="Meslek" asp-for="Meslek" type="text" value="@Model.Meslek" class="form-control" placeholder="Meslek">
                                <span asp-validation-for="Meslek" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DogumTarihi">Doğum Tarihi</label>
                                <input name="DogumTarihi" asp-for="DogumTarihi" type="text" value="@Model.DogumTarihi.ToShortDateString()" class="form-control" placeholder="DogumTarihi">
                                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.AktifMi)
                                        @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" class="btn btn-success" value="Müşteri Güncelle" />
                        </div>
                        @if (ViewBag.mesaj != null)
                        {
                            <div class="col-md-12 alert alert-danger">
                                @ViewBag.mesaj
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary {
    <script>
        $(function () {
            $('#musteriGuncelleIndex').validate({
                rules: {
                    Adi: {
                        required: true
                    },
                    Soyadi: {
                        required: true
                    },
                    Cinsiyet: {
                        required: false
                    },
                    Telefonu: {
                        required: true,
                        digits: true
                    },
                    Meslek: {
                        required: false
                    },
                    DogumTarihi: {
                        required: false,
                        date: false
                    }
                },
                messages: {
                    Adi: {
                        required: "Adı alanı zorunludur."
                    },
                    Soyadi: {
                        required: "Soyadı alanı zorunludur."
                    },
                    Cinsiyet: {
                    },
                    Telefonu: {
                        required: "Telefon numarası alanı zorunludur.",
                        digits: "Lütfen geçerli bir telefon numarası giriniz."
                    },
                    Meslek: {
                    },
                    DogumTarihi: {
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
}
